
# Entorno
NODE_ENV=development
PORT=3000

# Base de Datos PostgreSQL (Solo para uso sin SQLite)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=sgd_user
DB_PASSWORD=sgd_password
DB_DATABASE=sgd_db

# Cache
REDIS_HOST=localhost
REDIS_PORT=6379
